<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <style>
            ul {
                list-style-type: none;
                font-size: 1.5rem;
            }
            li {
                background-color: black;
                padding: 1rem;
                border-radius: 0.5rem;
                width: 25%;
                text-align: center;
                height: 30px;
                margin: 0.5rem;
            }

            li a {
                text-decoration: none;
                font-weight: 600;
                color: white;
            }

            input {
                visibility: hidden;
            }

            label {
                color: white;
                font-weight: 700;
                text-align: center;
            }

            img {
                width: 5%;
                height: auto;
                border-radius: 4rem;
            }

            ul {
                display: inline-block;
            }
        </style>
    </head>

    <body>
        <% data.forEach(user => { %>
        <div id="wrapper">
            <img src="/photos/<%=user.username%>/<%= user.profile %>" />
            <ul>
                <li>
                    <form
                        action="/images?username=<%= user.username %>"
                        method="post"
                        enctype="multipart/form-data"
                    >
                        <label for="upload<%= user.username %>">Upload</label>
                        <input
                            id="upload<%= user.username %>"
                            type="file"
                            name="photo"
                            accept="image/png, image/jpeg"
                            onchange="this.form.submit()"
                        />
                    </form>
                </li>

                <li>
                    <a href="/feed?username=<%= user.username %>"
                        ><%= user.username %></a
                    >
                </li>
            </ul>
        </div>
        <% }) %>
    </body>
</html>
